@import "common.css";

.login-form {
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    height: 35px;
}